@import '../variables';


.grid-gallery{
    article{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px,2fr));
        grid-gap: 10px;
    
        figure{
            background-color: $colorGris;
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
            figcaption{
                text-align: center;
            } 
        }
    }
}